.page {
  background-color: #000;
  display: grid;
  grid-template-rows: 45px minmax(min-content, max-content) 40px minmax(min-content, max-content) 66px minmax(min-content, max-content) 60px;
  grid-template-columns: 200px minmax(min-content, 880px) 200px;
}