.page {
  background-color: #000;
  display: grid;
  grid-template-rows: 45px minmax(min-content, max-content) 40px minmax(min-content, max-content) 66px minmax(min-content, max-content) 60px;
  grid-template-columns: calc((100vw - 880px)/2) minmax(min-content, 880px) calc((100vw - 880px)/2);
}

@media screen and (max-width: 1024px) {
  .page {
    grid-template-columns: 100px minmax(min-content, 824px) 100px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-columns: 48px minmax(min-content, 672px) 48px;
  }
}

@media screen and (max-width: 550px) {
  .page {
    grid-template-columns: 30px minmax(min-content, calc(100vw - 60px)) 30px;
    grid-template-rows: 28px minmax(min-content, max-content) 42px minmax(min-content, max-content) 48px minmax(min-content, max-content) 36px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    grid-template-columns: 19px minmax(min-content, calc(100vw - 38px)) 19px;
    grid-template-rows: 28px minmax(min-content, max-content) 42px minmax(min-content, max-content) 48px minmax(min-content, max-content) 36px;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    grid-template-columns: calc((100vw - 880px)/2) minmax(min-content, 880px) calc((100vw - 880px)/2);
  }
}
