.popup__form-input {
  padding: 0;
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-input:last-of-type {
  margin: 0;
}

@media screen and (max-width: 450px) {
  .popup__form-input {
    max-width: calc(100% - 44px);
  }
}

@media screen and (max-width: 320px) {
  .popup__form-input {
    max-width: 238px;
  }
}