.popup__form-input {
  padding: 0;
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

.popup__form-input:last-of-type {
  margin: 0;
}

@media screen and (max-width: 450px) {
  .popup__form-input {
    max-width: calc(100% - 44px);
  }
}

@media screen and (max-width: 320px) {
  .popup__form-input {
    max-width: 238px;
  }
}