.places {
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 17px;
  row-gap: 20px;
}