.place__image {
  max-width: 282px;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px 10px 0 0;
  object-position: center;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 265px;
  }
}

@media screen and (max-width: 895px) {
  .place__image {
    max-width: 341.5px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 330px;
  }
}

@media screen and (max-width: 550px) {
  .place__image {
    max-width: 490px;
  }
}