.header__logo {
  max-width: 142px;
  min-height: 33px;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
}

@media screen and (max-width: 425px) {
  .header__logo {
    max-width: 125px;
    min-height: 29.05px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 103.74px;
    min-height: 24.4px;
    margin-left: 27px;
  }
}