.profile__info-subheading {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 585px) {
  .profile__info-subheading {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__info-subheading {
    font-size: 14px;
    line-height: 17px;
  }
}