.header {
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  box-sizing: border-box;
  grid-row: 1;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7); /*equivalent of #545454*/
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 824px;
    width: calc((824/1024) * 100%);
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 672px;
    min-height: 65px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    max-width: 490px;
    min-height: 60px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    width: 100%;
    min-height: 56px;
  }
}