.header {
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  grid-row: 2/3;
  grid-column: 2/3;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7); /*equivalent of #545454*/
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 824px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 672px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    max-width: calc((100vw - 38px));
    grid-column: 2/3;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    grid-column: 1/-1;
  }
}