.content {
  grid-row: 4/5;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-columns: minmax(min-content, 880px);
  row-gap: 50px;
}

@media screen and (max-width: 1024px) {
  .content {

  }
}

@media screen and (max-width: 768px) {
  .content {

  }
}

@media screen and (max-width: 320px) {
  .content {
    grid-template-columns: minmax(min-content, 282px);
    row-gap: 36px;
  }
}