.popup__form {
  margin: 34px auto 37px;
}

@media screen and (max-width: 550px) {
  .popup__form {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .popup__form {
    margin-top: 25px;
  }
}  