.profile__add-button {
  padding: 0;
  max-width: 150px;
  width: 100%;
  min-height: 50px;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 2px;
  opacity: 1;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .profile__add-button {
    max-width: 125px;
  }
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    max-width: 282px;
    background-size: 19px 19px;
  }
}

@media screen and (max-width: 550px) {
  .profile__add-button {
    background-size: 16px 16px;
  }
}