.profile__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile__container {
    max-width: 672px;
    flex-direction: column;
    margin-bottom: 36px;
  }  
}

@media screen and (max-width: 550px) {
  .profile__container {
    max-width: 490px;
  }  
}

@media screen and (max-width: 320px) {
  .profile__container {
    max-width: 282px;
  }  
}