.form__inputs {
  margin: 0;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-bottom: 7px;
  border: 0;
  width: 100%;
}
  
@media screen and (max-width: 320px) {
  .form__inputs {
    margin-bottom: 4px;
  }
} 
