.profile__edit-btn {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: 1px solid #fff;
  box-sizing: border-box;
  opacity: 1;
  position: absolute;
  right: -42px;
  top: 12px;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__edit-btn {
    width: 22px;
    height: 22px;
    background-size: 9px 9px;
    right: -38px;
  }
}

@media screen and (max-width: 550px) {
  .profile__edit-btn {
    width: 20px;
    height: 20px;
    background-size: 8.5px 8.5px;
    top: 11px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    right: -28px;
    top: 8px;
  }
}