.footer {
  max-width: 880px;
  width: 100%;
  grid-row: 3;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 824px;
    width: calc((824/1024) * 100%);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 672px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    max-width: 490px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    width: 100%;
  }
}