.place__delete-btn {
  border: 0;
  padding: 0;
  background-image: url(../../../images/trash-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 19px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity 0.5s;
  opacity: 1;
}

.place__delete-btn:hover {
  opacity: 0.6;
}